.loading-icon {
  --icon-size: 22px;
  width: 100%; /* Ensure the icon takes up full width of its container */
  height: 100%; /* Ensure the icon takes up full height of its container */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure positioning context */
}

.loading-icon::after {
  content: '';
  background-image: url('/images/icon_loading.png');
  background-size: cover;
  width: var(--icon-size);
  height: var(--icon-size);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(100%);
  animation: loading-icon-spin 2s linear infinite;
}

@keyframes loading-icon-spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg); /* Rotate 360 degrees */
  }
}

@keyframes notify-pop {
  0% {
    transform: translateX(-50%) scale(0.8);
  }
  50% {
    transform: translateX(-50%) scale(1.2);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
