.admin-logout {
  display: none;
}
.admin-logout.active {
  display: block;
}

.login-control {
  display: none;
}
.login-control.active {
  display: flex;
}

.errorMessage {
  color: red;
  visibility: hidden;
}

.errorMessage.active {
  visibility: visible;
  animation: shakeX 0.5s ease-in-out;
}

.usersList {
  border: 1px solid red;
  visibility: hidden;
}

.usersList.active {
  visibility: visible;
}
