h1,
p {
  margin: 0px;
}

.clients-container {
  max-width: 1000px;
}

.clients-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.admin-logout {
  display: none;
  height: 30px;
  background-color: var(--danger);
  border: none;
}
.admin-logout.active {
  display: block;
}

.admin-logout.active:hover {
  background-color: rgb(242, 62, 62);
}

.login-control {
  display: none;
}
.login-control.active {
  display: flex;
}

.errorMessage {
  color: red;
  visibility: hidden;
}

.errorMessage.active {
  visibility: visible;
  animation: shakeX 0.5s ease-in-out;
}

/* users list */
.usersList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  visibility: hidden;
  margin-top: 15px;
}

.usersList.active {
  visibility: visible;
}

/* user div */
.user-div {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(228, 228, 228);
  border: 1px solid rgb(215, 215, 215);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  color: grey;
  cursor: pointer;
}

.user-div.online {
  background-color: white;
  color: black;
}

/* user div top left */
.user-top-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  gap: 4px;
}

.user-info {
}

.user-name {
  font-size: 1rem;
  font-weight: bold;
}

.text-break {
  margin-left: 10px;
  margin-right: 10px;
}

.user-email {
  font-weight: bold;
}

.user-lastMessage {
}

/* user div top right */
.user-top-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  height: 100%;
}
.user-last-date {
  color: grey;
  font-size: 0.8rem;
}
.user-new-messages-count {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(169, 167, 167);
  color: white;
  width: 30px;
  height: 30px;
}

.online .user-new-messages-count {
  background-color: var(--primary);
}

/* message-panel */
.message-panel-wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.367);
  visibility: hidden;
  z-index: 30;
}

.message-panel-wrapper.active {
  visibility: visible;
}

.message-panel-wrapper.active .message-panel {
  animation: message-panel-pop 0.3s linear;
}

.message-panel {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 96%;
  width: 500px;
  padding: 15px;
  border: black;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.582);
}

/* message-panel-top */
.message-panel-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  margin-bottom: 6px;
}

.message-panel-title-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.message-panel-title {
  font-size: 1.6rem;
  font-weight: bold;
}

.message-panel-top-info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  color: rgb(116, 116, 116);
  margin-left: 5px;
}

.message-panel-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.message-panel-close:hover {
  background-color: var(--gray);
}

/* message-panel-messages (middle) */
.message-panel-messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: rgb(239, 238, 238);
  border-radius: 5px;
  margin-bottom: 15px;
  min-height: 300px;
  overflow-y: visible;
}

.message-div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.message-div-server {
  display: flex;
  align-items: end;
  align-self: flex-end;
}

.message-div-client {
  display: flex;
  align-items: start;
  align-self: flex-start;
}

.message {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0px;
  font-size: 0.95rem;
  width: 70%;
}

.server-message {
  background-color: rgb(19, 112, 241);
}
.client-message {
  background-color: var(--pink);
}

.message-date {
  font-size: 0.7rem;
  color: rgb(138, 138, 138);
}
