h1,
p {
  margin: 0px;
}

.clients-container {
  max-width: 1000px;
}

.clients-page-head {
  display: none;
  flex-direction: column;
  margin-bottom: 10px;
}

.clients-page-head.active {
  display: flex;
}

.clients-page-head-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients-info {
  display: flex;
  gap: 20px;
}

.clients-info-span {
  display: inline-block;
}

.clients-info-span span {
  font-weight: bold;
}

.admin-logout {
  display: block;
  height: 30px;
  background-color: var(--danger);
  border: none;
}

.admin-logout:hover {
  background-color: rgb(242, 62, 62);
}

.login-control {
  display: none;
}
.login-control.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  max-width: 100%;
}

.errorMessage {
  text-align: center;
  color: red;
  visibility: hidden;
  margin-top: 5px;
}

.errorMessage.active {
  visibility: visible;
  animation: shakeX 0.5s ease-in-out;
}

/* users list */
.users-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  visibility: hidden;
  margin-top: 15px;
}

.users-list.active {
  visibility: visible;
}

/* user div */
.user-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(228, 228, 228);
  border: 1px solid rgb(215, 215, 215);
  box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.1);
  color: grey;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.user-div:hover {
  transform: scale(1.01);
}

.user-div.online {
  background-color: white;
  color: black;
}

/* user div top left */
.user-top-left {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 4px;
  width: calc(90%);
}

.user-info {
  display: flex;
  gap: 25px;
}

.user-info-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.user-name {
  font-size: 1rem;
  font-weight: bold;
}

.user-email {
  font-weight: bold;
}

.user-lastMessage {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-last-date {
  color: grey;
  font-size: 0.8rem;
  margin-top: 5px;
}

/* user div top right */
.user-top-right {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-new-messages-count {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary);
  color: white;
  width: 30px;
  height: 30px;
  font-size: 0.9rem;
}

.online .user-new-messages-count {
  background-color: var(--primary);
}

/* message-panel */
.message-panel-wrapper {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.367);
  visibility: hidden;
  z-index: 30;
}

.message-panel-wrapper.active {
  visibility: visible;
}

.message-panel-wrapper.active .message-panel {
  animation: message-panel-pop 0.3s linear;
}

.message-panel {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 96%;
  width: 500px;
  padding: 15px;
  border: black;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.582);
}

/* message-panel-top */
.message-panel-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  margin-bottom: 10px;
}

.message-panel-title-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.message-panel-name {
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 5px;
}

.message-panel-top-info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  color: rgb(116, 116, 116);
  margin-left: 5px;
}

.message-panel-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.message-panel-client-status {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--secondary);
}

.message-panel-client-status.online {
  color: var(--primary);
}

.message-panel-close:hover {
  background-color: var(--gray);
}

/* message-panel-messages (middle) */
.message-panel-messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: rgb(234, 234, 234);
  border-radius: 5px;
  margin-bottom: 15px;
  height: 400px;
  overflow-y: scroll;
}

.message-div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.message-div-server {
  display: flex;
  align-items: end;
  align-self: flex-end;
}

.message-div-client {
  display: flex;
  align-items: start;
  align-self: flex-start;
}

.message {
  position: relative;
  display: inline-block;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0px;
  font-size: 0.95rem;
  max-width: 70%;
}

.server-message {
  background-color: var(--primary);
}

.client-message {
  background-color: var(--danger);
}

.message-date {
  font-size: 0.7rem;
  color: rgb(138, 138, 138);
}
