@import url('./animation.css');
@import url('./color.css');
@import url('./interactjs.css');
@import url('sweetAlert.css');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
}

.image-div {
  max-height: 100%;
  aspect-ratio: 1/1;
  margin: auto;
}

.image {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.icon {
  width: 22px;
  aspect-ratio: 1/1;
}

.navbar {
  z-index: 100;
}

.container {
  min-height: 100vh !important;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 160px;
  text-align: center;
  margin-top: 70px;
}
