@import url('./animation.css');
@import url('./color.css');
@import url('./interactjs.css');
@import url('sweetAlert.css');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.image-div {
  max-height: 100%;
  aspect-ratio: 1/1;
  margin: auto;
}

.image {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.icon {
  width: 22px;
  aspect-ratio: 1/1;
}

.navbar {
  z-index: 100;
}
