#title-input {
  height: 4.5rem;
}

#save {
  min-width: 70px;
  min-height: 35px;
  font-size: 1.2rem;
  background-color: var(--primary);
  color: white;
  border-radius: 5px;
  transition: filter 0.4s;
}

#save:hover {
  filter: brightness(1.2);
}

#delete-post {
  min-width: 70px;
  min-height: 35px;
  font-size: 1.2rem;
  background-color: var(--danger);
  color: white;
  border-radius: 5px;
  transition: filter 0.4s;
}
#delete-post:hover {
  filter: brightness(1.2);
}

.buttons-div {
  display: flex;
  gap: 5px;
  float: right;
}

#notify {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: scale(1) translateX(-50%);
  background-color: var(--primary);
  color: white;
  padding: 10px;
  border-radius: 5px;
  min-width: 200px;
  text-align: center;
  z-index: 1000;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

#notify.show {
  opacity: 1;
  animation: notify-pop 0.5s ease-in-out;
}

#posts-select {
  background-color: var(--gray);
  line-height: 1.6rem;
  height: 4rem;
}

#posts-select::after {
  color: white;
}

#cover-select {
  width: 60px;
  background-color: var(--gray);
}

#cover-select:hover {
  background-color: var(--gray-dark);
}

/* sweet alert image select */
#images-container-div {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  margin: 10px 0px 10px 0px;
  width: 100%;
}

.image-select {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140px;
  border: 2.5px solid white;
  padding: 1px;
  cursor: pointer;
}

.image-select:hover {
  border-color: var(--danger);
}

.image-select:hover .delete {
  display: block;
}

.image-select .delete {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  background-color: var(--danger);
}

.image-select .delete:hover {
  filter: brightness(1.5);
}

.image-select img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  border: 2px solid white;
}

/* editor related */
#editor-container {
  position: relative;
}

#editor-container.loading {
  background-color: rgb(222, 222, 222);
  cursor: wait;
}

/* everything with in */
#editor-container.loading > * {
  pointer-events: none;
}

#editor-container.loading::after {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  background-size: cover;
  transform: translate(-50%, -50%);
  background-image: url('/images/icon_loading.png');
  animation: editor-loading-spin 2s linear infinite;
}
/* editor  */
.ql-editor {
  min-height: 400px;
  overflow: auto;
  font-size: '16px';
}

.ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

/* editor text size (base on google) */
.ql-editor .ql-size-small {
  font-size: 12px;
}

.ql-editor p {
  font-size: 18px;
}

.ql-editor .ql-size-large {
  font-size: 25px;
}

.ql-editor .ql-size-huge {
  font-size: 40px;
}

/* editor toolbar size picker */
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='small']::before {
  font-size: 12px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='normal']::before {
  font-size: 18px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='large']::before {
  font-size: 25px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='huge']::before {
  font-size: 40px;
}

/* sweet image select template */
#upload {
  height: 36px;
}

@keyframes editor-loading-spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
