/* page loading */
#page-loading-cover {
  display: flex;
  justify-content: center;
  align-items: start;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 20;
  color: white;
}

#page-loading-cover .loading-icon::after {
  width: 50px;
  height: 50px;
}

#title-input {
  height: 4.5rem;
}

#save {
  min-width: 70px;
  min-height: 35px;
  font-size: 1.2rem;
  background-color: var(--primary);
  color: white;
  border-radius: 5px;
  transition: filter 0.4s;
}

#save:hover {
  filter: brightness(1.2);
}

#delete-post {
  min-width: 70px;
  min-height: 35px;
  font-size: 1.2rem;
  background-color: var(--danger);
  color: white;
  border-radius: 5px;
  transition: filter 0.4s;
}
#delete-post:hover {
  filter: brightness(1.2);
}

.buttons-div {
  display: flex;
  gap: 5px;
  float: right;
}

#notify {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: scale(1) translateX(-50%);
  background-color: var(--primary);
  color: white;
  padding: 10px;
  border-radius: 5px;
  min-width: 200px;
  text-align: center;
  z-index: 1000;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

#notify.show {
  opacity: 1;
  top: 20px;
  animation: notify-pop 0.5s ease-in-out;
}

#posts-select {
  background-color: var(--gray);
  line-height: 1.6rem;
  height: 4rem;
}

#posts-select::after {
  color: white;
}

#cover-select {
  width: 60px;
  background-color: var(--gray);
}

#cover-select:hover {
  background-color: var(--gray-dark);
}

/* meta */
#meta-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  min-height: 20px;
  margin-bottom: 10px;
  gap: 10px;
}

.meta-input {
  border-radius: 10px;
}

.meta-input:hover {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
}

/* tags */
#tags-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 5px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  min-height: 20px;
  margin-bottom: 10px;
}

.tag-icon {
  width: 20px;
  height: 20px;
}

.tag-span {
}

.tag-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--gray);
  border-radius: 5px;
  margin: 5px;
  gap: 5px;
  padding: 2px 5px;
  background-color: white;
}

.tag-button:hover {
  border: 2px solid var(--gray-dark);
  box-shadow: 2px 4px 4.5px 1.5px rgba(0, 0, 0, 0.1);
}

.tag-button.selected {
  border: 2px solid var(--primary);
  background-color: rgb(229, 243, 253);
  box-shadow: 2px 4px 4.5px 1.5px rgba(0, 0, 0, 0.1);
}

/* sweet alert image select */
#images-container-div {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  margin: 20px 0px;
  border: 2px solid var(--gray);
  border-radius: 5px;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4px;
  width: 100%;
  padding: 10px;
}

.image-select {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 140px;
  border: 2.5px solid white;
  padding: 1px;
  cursor: pointer;
}

.image-select:hover {
  border-color: var(--danger);
}

.image-select:hover .delete {
  display: block;
}

.image-select .delete {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  background-color: var(--danger);
}

.image-select .delete:hover {
  filter: brightness(1.5);
}

.image-select img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  border: 2px solid white;
}

/* editor related */
#editor-container {
  position: relative;
}

#editor-container.loading {
  background-color: rgb(222, 222, 222);
  cursor: wait;
}

/* editor tool */
#editor {
  caret-color: rgb(255, 42, 166);
}

#editor-tool {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
  padding: 10px;
  margin: 10px 0px;
}

#editor-tool input {
  cursor: pointer;
}

.fa-toolbox {
  font-size: 1.4rem;
}

/* text color button */
.ql-color {
  position: relative;
}

/* text color color select span */
/* this is append to background color button
    for some reason append on text color button
    cause the color input to not show color wheel
    */
.ql-toolbar .color-picker {
  position: absolute;
  left: -35px;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: white;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.2);
  padding: 7px;
  gap: 10px;
  z-index: 15;
}

.ql-toolbar .color-picker .text-color-input {
  cursor: pointer;
  display: block;
  z-index: 20;
}

#text-color-ok {
  background-color: var(--primary);
  color: white;
  padding: 5px 10px;
  width: 50px;
  font-size: 0.8rem;
  border-radius: 3px;
}

#text-color-ok:hover {
  background-color: var(--primary-light);
}

.ql-snow.ql-toolbar button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ql-snow .ql-picker-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* everything with in editor */
#editor-container.loading > * {
  pointer-events: none;
}

#editor-container.loading::after {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  background-size: cover;
  transform: translate(-50%, -50%);
  background-image: url('/images/icon_loading.png');
  animation: editor-loading-spin 2s linear infinite;
}
/* editor  */
.ql-editor {
  min-height: 400px;
  overflow: auto;
  font-size: '16px';
}

.ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

/* editor text size (base on google) */

.ql-editor .ql-size-huge {
  font-size: 3rem !important;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.ql-editor .ql-size-large {
  font-size: 1.65rem !important;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.ql-snow .ql-editor h2 {
  font-size: 1.65rem !important;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.ql-snow .ql-editor h3 {
  font-size: 1.4rem !important;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.ql-snow .ql-editor p {
  font-size: 1.05rem !important;
}

.ql-snow .ql-editor ol {
  font-size: 1.05rem !important;
}

.ql-snow .ql-editor ul {
  font-size: 1.05rem !important;
}

.ql-snow .ql-editor li span {
  color: rgb(220, 220, 220);
}

/* editor toolbar size picker */
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='small']::before {
  font-size: 12px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='normal']::before {
  font-size: 18px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='large']::before {
  font-size: 25px;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value='huge']::before {
  font-size: 40px;
}

/* sweet image select template */
#upload {
  height: 36px;
}

@keyframes editor-loading-spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
